nav {
  display: flex;
  align-items: flex-end;
}

#navbar li {
  cursor: pointer;
  padding-bottom: 8px;
  position: relative;
}

#navbar li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #64dd50;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

#navbar li.active::after {
  width: 100%;
}
